<form id="addForm" #pageDetailsForm="ngForm">
  <dl class="dl-horizontal">
    <dt>Title:</dt>
    <dd>
        <input pInputText type="text" class="form-control" id="title" required
               [(ngModel)]="pageDetails.title" name="title">
    </dd>
    <dt>Page url:</dt>
    <dd>
      <div class="row">
        <div class="col-md-8">
          <input pInputText type="text" class="form-control" id="url" required
                 [(ngModel)]="pageDetails.url" name="page-url">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary pull-right" (click)="onPagePreviewClicked()">
            Show Page Preview
          </button>
        </div>
      </div>
    </dd>
    <dt>Frequency:</dt>
    <dd>
      <p-dropdown [options]="frequencies" [(ngModel)]="pageDetails.frequency"
                  name="frequency"></p-dropdown>
    </dd>
    <dt>Keywords:</dt>
    <dd>
      <p-chips [(ngModel)]="pageDetails.keywords" name="keywords" required>
      </p-chips>
    </dd>
  </dl>
  <button form="addForm" class="btn btn-success pull-right" [disabled]="!pageDetailsForm.form.valid" (click)="onSaved()">
    <i class="pi pi-check"></i>
  </button>
  <button class="btn btn-danger mr-5 pull-right" (click)="onCanceled()">
    <i class="pi pi-times"></i>
  </button>
</form>

