<div class="container mt-10">
  <div class="row mb-10">
    <div class="col-md-8 col-md-offset-2">
      <button class="btn btn-danger pull-right" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p-card *ngFor="let pageDetail of pageDetails" [styleClass]="getStatusColor(pageDetail)">
        <p-header>
          <div class="container-fluid">
            <h3 class="display-inline">{{pageDetail.title}}</h3>
            <button class="btn btn-primary pull-right" [disabled]="editActive || addActive"
                    (click)="onEdit(pageDetail.id)">
              <i class="pi pi-pencil"></i>
            </button>
            <button class="btn btn-danger mr-5 pull-right" [disabled]="editActive" (click)="delete(pageDetail)">
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </p-header>
        <hr>
        <div class="container-fluid">
          <ng-container *ngIf="!editActive; else showEditForm">
            <dl class="dl-horizontal">
              <dt>Title:</dt>
              <dd>{{pageDetail.title}}</dd>
              <dt>Page url:</dt>
              <dd>{{pageDetail.url}}</dd>
              <dt>Frequency:</dt>
              <dd>{{pageDetail.frequency}}</dd>
              <dt>Keywords:</dt>
              <dd>
                <span *ngFor="let keyword of pageDetail.keywords" class="label label-primary mr-5">{{keyword}}</span>
              </dd>
              <dt>Next update:</dt>
              <dd>
                {{pageDetail.nextDetection | date:'yyyy-MM-dd HH:mm z'}}
              </dd>
              <dt>Status:</dt>
              <dd>
                {{pageDetail.detectionStatus}}
              </dd>
            </dl>
          </ng-container>
          <ng-template #showEditForm>
            <app-page-details-form [pageDetails]="pageDetail" (saved)="editPageDetails($event)"
                                   (canceled)="cancel($event)" (pagePreview)="showPagePreview($event)">
            </app-page-details-form>
          </ng-template>
        </div>
      </p-card>
      <p-card>
        <p-header>
          <ng-container *ngIf="addActive">
            <div class="container-fluid">
              <h3 class="display-inline">Add new page details</h3>
            </div>
          </ng-container>
        </p-header>
        <div class="container-fluid">
          <ng-container *ngIf="!addActive; else showAddForm">
            <div class="text-center">
              <button class="btn btn-primary" (click)="onCreate()" [disabled]="editActive">
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </ng-container>
          <ng-template #showAddForm>
            <app-page-details-form [pageDetails]="pageDetailsBody" (saved)="createPageDetails($event)"
                                   (canceled)="cancel($event)" (pagePreview)="showPagePreview($event)">
            </app-page-details-form>
          </ng-template>
        </div>
      </p-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p-card>
        <p-header>
          <div class="container-fluid">
            <h3 class="display-inline">Page preview</h3>
            <button class="btn btn-primary pull-right" (click)="hidePreview()">
              Hide Preview
            </button>
          </div>
        </p-header>
        <pre>
          {{pagePreview}}
        </pre>
      </p-card>
    </div>
  </div>
</div>
