.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

h3 {
  padding: 10px 0 0 0;
  margin: 0;
  font-weight: bold;
}

dl {
  margin: 0;
}

dt {
  text-align: left;
}

dt, dd {
  margin-bottom: 5px;
}

.ui-card {
  margin-bottom: 5px;
}

.ui-card-header {
  margin-top: 10px;
}

.bg-green {
  background-color: #7fff0059;
}

.bg-orange {
  background-color: #ffa50063;
}

.bg-red {
  background-color: #ff00004a;
}

.bg-gray {
  background-color: #80808078;
}

.display-inline {
  display: inline;
}

.btn {
  padding: 5px 7px;
}

hr {
  margin: 5px 0 15px 0;
  border-color: black;
}

.pi {
  font-size: 20px;
}

.ui-chips>ul.ui-inputtext {
  clear: none;
}

form dl dt {
  padding-top: 5px;
}



